.example-card {
  margin: 20px 0;
  border-radius: 10px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.liked {
  color: #64b5f6 !important;
}

.card-image {
  margin-top: 7px;
}

.iconSpan {
  font-size: 18px;
  line-height: 18px;
  margin-left: 5px;
}
