<div class="container-fluid">
  <div class="row" style="margin: 0;">
    <div class="col s12 m12 l12" style="padding: 0;">
      <mat-card class="example-card" *ngFor="let post of topPosts">
        <mat-card-header>
          <img mat-card-avatar src="https://res.cloudinary.com/vmatviishyn/image/upload/v{{post.user.picVersion}}/{{post.user.picId}}" class="card-image">
          <mat-card-title>{{ post.username }}</mat-card-title>
          <mat-card-subtitle>
            <p>{{ timeFromNow(post.created) }}
              <br> {{ post.user.country }}
            </p>
          </mat-card-subtitle>
        </mat-card-header>
        <div *ngIf="post.imgId">
          <img mat-card-image src="https://res.cloudinary.com/vmatviishyn/image/upload/v{{post.imgVersion}}/{{post.imgId}}">
        </div>
        <mat-card-content>
          <p>{{ post.post }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>
            <i class="material-icons" (click)="likePost(post)" [ngClass]="(!checkInLikesArray(post.likes, user.username)) ? 'notLiked' : 'liked'">thumb_up</i>
            <span class="iconSpan">{{ post.totalLikes }}</span>
          </button>
          <button mat-button>
            <i class="material-icons" (click)="openCommentBox(post)" [ngClass]="(!checkInLikesArray(post.comments, user.username)) ? 'notLiked' : 'liked'">chat</i>
            <span class="iconSpan">{{ post.comments.length }}</span>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>