.example-card {
  margin: 20px 0;
  border-radius: 10px;
}

.liked {
  color: #64b5f6 !important;
}

.card-image {
  margin-top: 7px;
}

.iconSpan {
  font-size: 18px;
  line-height: 18px;
  margin-left: 5px;
}
