<app-toolbar
  (onlineUsers)="online($event)">
</app-toolbar>

<div class="container" style="margin-top: 30px;">
  <div class="row">
    <div class="col s12 m4 l3">
      <app-side></app-side>
    </div>
    <div class="col s12 m8 l9" style="margin-top: 45px;">
      <div class="row">
        <div class="col s12 m6 l4" *ngFor="let user of users">
          <mat-card class="example-card">
            <a (click)="viewUser(user)">
              <div class="card-image">
                <img src="https://res.cloudinary.com/vmatviishyn/image/upload/v{{user.picVersion}}/{{user.picId}}" class="imgCircle">
              </div>
            </a>            
            <mat-card-content>
              <h5>
                {{ user.username }}
                <i class="material-icons online" *ngIf="checkIfOnline(user.username)">album</i>
              </h5>
              <p>{{ user.country }}</p>
            </mat-card-content>
            <mat-card-actions class="actions">
              <button mat-button class="btn" *ngIf="!checkInArray(userArray, user._id)" (click)="followUser(user)">Follow</button>
              <button mat-button class="btn disabled following" *ngIf="checkInArray(userArray, user._id)">Following</button>
              <a class="secondary-content" [routerLink]="['/chat', user.username]">
                <i class="material-icons">chat</i>
              </a>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>