.example-card {
  border-radius: 10px !important;
  margin-top: 16px;
  box-shadow: none;
}

.file-field input[type="file"] {
  width: 70% !important;
}

.postBtn {
  float: right;
  margin-bottom: 5px;
}