a {
  color: black;
  cursor: pointer;
}

.stats {
  text-align: center;
}

.active a {
  color: white !important;
}

.active {
  background-color: #00adb5 !important;
}

.material-icons {
  color: #00adb5;
}

.active .material-icons {
  color: #fff;
}

.row span {
  font-size: 12px;
  font-weight: bold;
}

.num {
  margin: 0 !important;
  color: #00adb5;
  font-weight: bold;
  font-size: 16px;
}

.collection {
  border-radius: 10px;
}