<div class="row">
  <div class="col s12">
    <div class="row">
      <mat-card class="example-card">
        <mat-card-header>
          <img mat-card-avatar *ngIf="receiverData" src="https://res.cloudinary.com/vmatviishyn/image/upload/v{{receiverData.picVersion}}/{{receiverData.picId}}" class="imgCircle">
          <mat-card-title>{{ receiver }}</mat-card-title>
          <mat-card-subtitle>
            <p class="isOnline" *ngIf="isOnline">Online</p>
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>

  <div class="col s12">
    <div class="row">
      <div class="col s12">
        <mat-card class="example-card rowDiv">
          <mat-card-content class="card-content" ngx-auto-scroll lock-y-offset="10" observe-attribute>
            <div class="message-wrapper" *ngFor="let message of messagesArray">
              <div class="left" *ngIf="user.username !== receiver && user.username !== message.sendername">
                <div class="chat-bubble left slide-left">
                  <div class="message">{{ message.body }}</div>
                </div>
              </div>

              <div class="right" *ngIf="user.username === message.sendername">
                <div class="chat-bubble right slide-right">
                  <div class="message">{{ message.body }}</div>
                </div>
              </div>

              <div class="cf"></div>
            </div>
            <div class="left" *ngIf="typing">
              <div class="chat-bubble left slide-left">
                <div class="message">
                  {{ receiver }} is typing ...
                </div>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <div class="card">
              <div class="inputRow">
                <form (ngSubmit)="onSubmit()" class="message-form">
                  <div class="input-field inputField">
                    <textarea
                      name="message"
                      [(ngModel)]="message"
                      class="materialize-textarea inputBox"
                      (keypress)="isTyping()">
                    </textarea>
                  </div>
                  <div class="input-field">
                    <button class="suffix btn send-btn">
                      <mat-icon class="send-btn-icon">send</mat-icon>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>


</div>