<app-toolbar></app-toolbar>

<div class="container" style="margin-top: 30px;">
    <div class="row">
      <div class="col s12 m4 l3">
        <app-side></app-side>
      </div>
      <div class="col s12 m8 l9" style="margin-top: 45px;">
        <div class="row" *ngIf="followers.length > 0">
          <div class="col s12 m6 l4" *ngFor="let user of followers">
            <mat-card class="example-card">
              <a>
                <div class="card-image imgDiv">
                  <img src="https://res.cloudinary.com/vmatviishyn/image/upload/v{{user.follower.picVersion}}/{{user.follower.picId}}" class="imgCircle responsive-img">
                </div>
              </a>
              <mat-card-content>
                <h5 class="card-title">
                  {{ user.follower.username }}
                </h5>
                <p *ngIf="user.follower.country">{{ user.follower.country }}</p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        <div class="row" *ngIf="followers.length <= 0">
          <h4 class="text">You have no followers</h4>
        </div>
      </div>
    </div>
  </div>