.toolbar-icon {
  color: #00adb5;
  margin: 0 10px;
}

mat-toolbar {
  background-color: #eeeeee;
}

.toolbar-actions {
  margin: 0 5px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.brand-logo {
  color: #00adb5;
}

.menu-empty {
  padding-left: 10px;
}

.menu-toggle:focus .toolbar-icon {
  color: #eeeeee !important;
}