<div class="container">
  <div class="row">
    <div class="col s12">
      <mat-toolbar>
        <mat-toolbar-row>
          <a class="brand-logo" (click)="goToHome()">Chat App</a>
          <span class="toolbar-spacer"></span>
      
          <div class="toolbar-actions">
            <button mat-icon-button [matMenuTriggerFor]="notificationsMenu" class="menu-toggle">
              <mat-icon class="toolbar-icon" *ngIf="count.length == 0">notifications</mat-icon>
              <mat-icon class="toolbar-icon" [matBadge]="count.length" matBadgeColor="warn" *ngIf="count.length > 0">notifications</mat-icon>
            </button>
      
            <mat-menu #notificationsMenu="matMenu" xPosition="before" class="menu">
              <button mat-menu-item *ngFor="let notification of notifications">
                <img mat-card-avatar class="card-image" src="https://res.cloudinary.com/vmatviishyn/image/upload/v{{notification.senderId.picVersion}}/{{notification.senderId.picId}}">
                <span [ngClass]="notification.read ? isRed : 'unread'">{{ notification.message }}</span>
                <p class="time">{{ timeFromNow(notification.created) }}</p>
              </button>
              <span *ngIf="notifications.length <= 0">
                <p class="menu-empty">No Notifications</p>
              </span>
              <span>
                <button mat-button (click)="markAll()">Mark all as read</button>
              </span>
            </mat-menu>
          </div>
      
          <div class="toolbar-actions">
            <button mat-icon-button [matMenuTriggerFor]="messagesMenu" class="menu-toggle">
              <mat-icon class="toolbar-icon" *ngIf="msgNumber == 0">message</mat-icon>
              <mat-icon class="toolbar-icon" [matBadge]="msgNumber" matBadgeColor="warn" *ngIf="msgNumber > 0">message</mat-icon>
            </button>
      
            <mat-menu #messagesMenu="matMenu" xPosition="before" class="menu">
              <button mat-menu-item *ngFor="let chat of chatList" (click)="goToChatPage(chat.receiverId.username)">
                <div class="image-name">
                  <img mat-card-avatar class="card-image" src="https://res.cloudinary.com/vmatviishyn/image/upload/v{{chat.receiverId.picVersion}}/{{chat.receiverId.picId}}" class="circle">
                  <span class="title">
                    {{ chat.receiverId.username }}
                  </span>
                </div>
                <div class="message">
                  <p class="time">
                    {{ chat.msgId.message[chat.msgId.message.length-1].body }}
                  </p>
                  <a 
                    class="secondary-content" 
                    *ngIf="!chat.msgId.message[chat.msgId.message.length-1].isRead 
                      && chat.receiverId.username !== chat.msgId.message[chat.msgId.message.length-1].receivername">
                    <i class="material-icons">brightness_1</i>
                  </a>
                  <a class="secondary-content" *ngIf="chat.msgId.message[chat.msgId.message.length-1].isRead">
                    <i class="material-icons">panorama_fish_eye</i>
                  </a>
                </div>
              </button>
              <span *ngIf="notifications.length <= 0">
                <p class="menu-empty">No Notifications</p>
              </span>
              <span>
                <button mat-button (click)="markAllMessages()">Mark all as read</button>
              </span>
            </mat-menu>
          </div>
      
          <div class="toolbar-actions">
            <button mat-icon-button [matMenuTriggerFor]="profileMenu">
              <img src="https://res.cloudinary.com/vmatviishyn/image/upload/v{{imageVersion}}/{{imageId}}" class="circle responsive-img">
            </button>
            <mat-menu #profileMenu="matMenu" xPosition="before">
              <h6 class="menu-empty">{{ user.username }}</h6>
              <button mat-menu-item (click)="logout()">
                <mat-icon>power_settings_new</mat-icon>
                <span>Sign out</span>
              </button>
            </mat-menu>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>
  </div>
</div>