.toolbar-icon {
  color: #00adb5;
  margin: 0 10px;
}

mat-toolbar {
  background-color: #eeeeee;
}

.toolbar-actions {
  margin: 0 5px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.brand-logo {
  color: #00adb5;
  cursor: pointer;
}

.menu-empty {
  padding-left: 10px;
}

.menu-toggle:focus .toolbar-icon {
  color: #eeeeee !important;
}

.mat-menu-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 400px;
}

.mat-menu-panel {
  max-width: 500px !important;
}

.time {
  margin: 0;
}

.image-name {
  display: flex;
  align-items: center;
}

.message {
  display: flex;
  align-items: center;
}

.message p {
  margin-right: 5px;
}