.example-card {
  width: 100%;
  margin: 20px 0;
  border-radius: 10px;
}

.imgCircle {
  width: 150px !important;
  height: 150px !important;
  border-radius: 50% !important;
  margin: 0 auto !important;
  top: 20px !important;
}

.actions {
  align-self: stretch;
  justify-content: space-around;
  display: flex;
}

.secondary-content {
  margin-top: 5px;
}

.text {
  color: #00adb5;
  text-align: center;
}

.upload-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.upload-form-file-btn {
  flex-grow: 1;
}

.upload-form-upload-btn {
  margin-left: 10px;
}

.photo-card {
  width: 100%;
  margin: 10px 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}